*{
margin:0px;
}
body{
background-image: url("https://wallpapers.walldevil.com/wallpapers/w03/preview/960989-trees.jpg");
background-size:cover;
background-repeat:no-repeat;
}
.ordered{
width:700px;
margin:40px auto;
height:400px;
overflow:scroll;
}
h1{
font-size:50px;
color:white;
margin:40px 20px;
text-align:center;
}
.items{
border:1px solid white;
border-radius:5px;
margin: 20px auto;
text-align:center;
width:80%;
background-color:rgba(255,255,255,0.9);
}

.link{
color:black;
text-decoration:none;
font-weight:200;
}
.navitems{
background-color:rgba(255,153,51,0.9);
color:white;
padding:2px 5px;
width:20%;
margin:10px 10px;
}
.home{
color:white;
text-decoration:none;
}
.Footer{
background-color:rgba(0,0,0,0.7);
display:flex;
flex-wrap:wrap;
position:relative;
top:6px;
width:100%;
font-size:16px;
}
#name{
color:white;
text-align:center;
width:20%;
height:25px;
margin:auto;
}
#contact{
color:red;
position:relative;
right:15px;
margin:auto 0px;
text-align:center;
border:2px solid red;
width:100px;
height:25px;
font-size:18px;
}
#share{
color:white;
padding:0px 10px;
margin:auto 0px;
}
#twitter
{
padding:0px 5px;
}
